body { 
    font-size: 16px;
    color: black;
    background-color: paleturquoise;
    font-family: 'RocknRoll One', sans-serif;
}

/** Header **/ 
.navbar-brand {
   padding-top: 25px; 
   padding-bottom: 25px;
}

.navbar-brand h1{
    font-family: 'RocknRoll One', sans-serif;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-nav { 
            margin-left: auto; 
        } 