{% extends "base.html" %}
{% block content %}

    <div id="club-picks" class="container">
        <h2 id="your-picks-title" class="text-center">Discover our latest picks</h2>
        <section class="row">
        <!-- A long petal of the sea -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/a-long-petal-of-the-sea.png')}}" 
                        alt="A long petal of the sea">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#aLongPetaloftheSea">
                    May '21 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="aLongPetaloftheSea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/a-long-petal-of-the-sea.png')}}" 
                                alt="A long petal of the sea">
                                <span>May '21 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">A Long Petal of the Sea</h3>
                                <h5 class="fw-bold">Isabel Allende</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>From the author of The House of the Spirits, this epic novel spanning decades and 
                                    crossing continents follows two young people as they flee the aftermath of the Spanish 
                                    Civil War in search of a place to call home. In the late 1930s, civil war grips Spain.
                                </p><br>
                                 <p><a href="https://www.amazon.com/Long-Petal-Sea-Novel-Random/dp/0593172051/ref=sr_1_2?dchild=1&keywords=A+long+petal+of+the+sea&qid=1622992861&sr=8-2" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>Two refugees from the Spanish Civil War cross the Atlantic Ocean to Chile and a 
                                    half-century of political and personal upheavals.We meet Victor Dalmau and Roser 
                                    Bruguera in 1938 as it is becoming increasingly clear that the Republican cause 
                                    they support is doomed. When they reunite in France as penniless refugees, Roser 
                                    has survived a harrowing flight across the Pyrenees while heavily pregnant and 
                                    given birth to the son of Victor’s brother Guillem, killed at the Battle of the 
                                    Ebro. Victor, evacuated with the wounded he was tending in a makeshift hospital, 
                                    learns of a ship outfitted by poet Pablo Neruda to take exiles to a new life in 
                                    Chile, but he and Roser must marry in order to gain a berth. Allende (In the Midst 
                                    of Winter, 2017, etc.) expertly sets up this forced intimacy between two very 
                                    different people: Resolute, realistic Roser never looks back and doggedly pursues 
                                    a musical career in Chile while Victor, despite being fast-tracked into medical 
                                    school by socialist politician Salvador Allende (a relative of the author's), 
                                    remains melancholy and nostalgic for his homeland. Their platonic affection deepens 
                                    into physical love and lasting commitment in an episodic narrative that reaches a 
                                    catastrophic climax with the 1973 coup overthrowing Chile’s democratically elected 
                                    government. For Victor and Roser, this is a painful reminder of their losses in 
                                    Spain and the start of new suffering. The wealthy, conservative del Solar family 
                                    provides a counterpoint to the idealistic Dalmaus; snobbish, right-wing patriarch 
                                    Isidro and his hysterically religious wife, Laura, verge on caricature, but Allende 
                                    paints more nuanced portraits of eldest son Felipe, who smooths the refugees’ early 
                                    days in Chile, and daughter Ofelia, whose brief affair with Victor has lasting 
                                    consequences. Allende tends to describe emotions and events rather than delve into 
                                    them, and she paints the historical backdrop in very broad strokes, but she is an 
                                    engaging storyteller. A touching close in 1994 brings one more surprise and unexpected 
                                    hope for the future to 80-year-old Victor.A trifle facile, but this decades-spanning 
                                    drama is readable and engrossing throughout.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

            <!-- Beach Read -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/beach-read.png')}}" 
                        alt="Beach read">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#beachRead">
                    Apr '21 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="beachRead" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/beach-read.png')}}" 
                                alt="Beach read">
                                <span>Apr '21 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">Beach Read</h3>
                                <h5 class="fw-bold">Emily Henry</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>January Andrews writes bestselling romance. When she pens a happily ever after, he 
                                    kills off his entire cast. They're polar opposites. In fact, the only thing they have 
                                    in common is that for the next three months, they're living in neighboring beach 
                                    houses, broke, and bogged down with writer's block.
                                </p><br>
                                 <p><a href="https://www.amazon.com/Beach-Read-Emily-Henry/dp/1984806734/ref=sr_1_1?dchild=
                                    1&keywords=beach+read&qid=1623160594&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>Two struggling authors spend the summer writing and falling in love in a quaint beach town. 
                                    January Andrews has just arrived in the small town of North Bear Shores with some serious 
                                    baggage. Her father has been dead for a year, but she still hasn’t come to terms with what 
                                    she found out at his funeral—he had been cheating on her mother for years. January plans to 
                                    spend the summer cleaning out and selling the house her father and “That Woman” lived in 
                                    together. But she’s also a down-on-her-luck author facing writer’s block, and she no longer 
                                    believes in the happily-ever-after she’s made the benchmark of her work. Her steadily dwindling 
                                    bank account, though, is a daily reminder that she must sell her next book, and fast. 
                                    Serendipitously, she discovers that her new next-door neighbor is Augustus Everett, the darling 
                                    of the literary fiction set and her former college rival/crush. Gus also happens to be struggling 
                                    with his next book (and some serious trauma that unfolds throughout the novel). Though the two 
                                    get off to a rocky start, they soon make a bet: Gus will try to write a romance novel, and January 
                                    will attempt “bleak literary fiction.” They spend the summer teaching each other the art of their 
                                    own genres—January takes Gus on a romantic outing to the local carnival; Gus takes January to the 
                                    burned-down remains of a former cult—and they both process their own grief, loss, and trauma through 
                                    this experiment. There are more than enough steamy scenes to sustain the slow-burn romance, and smart 
                                    commentary on the placement and purpose of “women’s fiction” joins with crucial conversations about 
                                    mental health to add multiple intriguing layers to the plot.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

            <!-- Clap When You Land -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/clap-when-you-land.png')}}" 
                        alt="Clap when you land">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#clapWhenYouLand">
                    Mar '21 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="clapWhenYouLand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/clap-when-you-land.png')}}" 
                                alt="Clap when you land">
                                <span>Mar '21 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">Clap When You Land</h3>
                                <h5 class="fw-bold">Elizabeth Acevedo</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>In New York City, Yahaira Rios is called to the principal's office, where her mother is waiting 
                                    to tell her that her father, her hero, has died in a plane crash. Separated by distance — and 
                                    Papi's secrets — the two girls are forced to face a new reality in which their father is dead 
                                    and their lives are forever altered.
                                </p><br>
                                 <p><a href="https://www.amazon.com/Clap-When-Land-Elizabeth-Acevedo/dp/0062882767/ref=sr_1_1?dchild
                                    =1&keywords=Clap+when+you+land&qid=1623161163&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>A novel-in-verse that explores the intricacies of love and mourning. Clap When You Land tells 
                                    the story of Camino and Yahaira, two sisters whose fates become intertwined when a tragic 
                                    accident forces them to discover the truth about their father—and each other. On the day of 
                                    her father’s arrival to the Dominican Republic, Camino Rios skips a math test to go to the 
                                    airport, where she finds a group of people crowded around a TV screen. Across the pond in New 
                                    York, Yahaira Rios is called into her school’s main office where her mother, red-eyed and 
                                    weeping, awaits with news: Her father’s plane has crashed, and there are no survivors. As the 
                                    sisters —who are unaware of one another’s existence—grapple with their grief and attempt to 
                                    navigate a world without their father, they uncover their families’ long-kept secrets and 
                                    eventually find their way to each other. Clap When You Land is an affecting novel, one that 
                                    portrays themes of grief, sexual assault, sisterhood, betrayal, cultural identity, and family 
                                    with great care and empathy. It is written in alternating points of view, a technique that allows 
                                    for a thorough exploration of the protagonists’ inner lives. Heartfelt and raw, Acevedo’s verse is 
                                    deft at sifting through the complicated emotions that arise in the wake of great loss, and particularly 
                                    poignant in those moments when it is not afraid to linger on the characters’ imperfections. A powerful 
                                    and vibrant work that will leave you thinking long after you’ve put it down.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

            <!-- Clrescent City -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/crescent-city.png')}}" 
                        alt="Crescent City">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#crescentCity">
                    Feb '21 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="crescentCity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/crescent-city.png')}}" 
                                alt="Crescent City">
                                <span>Feb '21 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">Crescent City</h3>
                                <h5 class="fw-bold">Sarah J. Maas</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>Synopsis. #1 New York Times bestselling author Sarah J. Maas launches her brand-new CRESCENT 
                                    CITY series with House of Earth and Blood: the story of half-Fae and half-human Bryce Quinlan 
                                    as she seeks revenge in a contemporary fantasy world of magic, danger, and searing romance.
                                </p><br>
                                 <p><a href="https://www.amazon.com/House-Earth-Blood-Crescent-City/dp/1635574048/ref=tmm_hrd_swatch
                                    _0?_encoding=UTF8&qid=1623164311&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>If your looking for a story that blends fantasy, adult romance, mystery, and suspense Crescent 
                                    City by Sarah J. Maas is the book for you. This novel was masterfully written to the point that 
                                    I'm sitting here debating rereading it like one might rewatch their favorite movie because I can't 
                                    get enough. Bryce Quinlan and Hunt Athalar are unforgettable characters you will fall madly in 
                                    love with. You will laugh at all the witty banter and cry with each of these beloved characters.
                                    My only advice to fellow readers is to push past the first 60 pages and you won't regret it. 
                                    Crescent City is the first book in this series and I will be counting the hours until the second 
                                    is released!
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

             <!-- From Blood and Ash -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/from-blood-and-ash.png')}}" 
                        alt="From Blood and Ash">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#fromBloodAndAsh">
                    Jan '21 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="fromBloodAndAsh" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/from-blood-and-ash.png')}}" 
                                alt="From Blood and Ash">
                                <span>Jan '21 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">From Blood and Ash</h3>
                                <h5 class="fw-bold">Jennifer L. Armentrout</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>Forsaken by the gods and feared by mortals, a fallen kingdom is rising once more, determined to take 
                                    back what they believe is theirs through violence and vengeance. And as the shadow of those cursed 
                                    draws closer, the line between what is forbidden and what is right becomes blurred.
                                </p><br>
                                 <p><a href="https://www.amazon.com/Blood-Ash-Jennifer-L-Armentrout-ebook/dp/B086JMSSVH/ref=sr_1_1?dchild
                                    =1&keywords=from+blood+and+ash&qid=1623209967&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>From Blood and Ash starts off really slow. Like mind-numbingly slow. There’s a huge info-dump in 
                                    chapter 1, very little dialogue, and not a lot happening. That is until the final sentence of 
                                    Chapter 1. Then JLA provides just the right hook not to lose me. From Blood and Ash gets a lot 
                                    of rave reviews from my Facebook group and I knew I had to stick with it and give her a chance.
                                    One reader related From Blood and Ash to House of Earth and Blood. It’s got a really slow and 
                                    long build-up, but your patience is rewarded. The key moment happened for me somewhere around the 
                                    40% mark, and by the end of Chapter 25 I was addicted, hook, line, and sinker. While I spent 6 days 
                                    reading the first 40%, the last 60% was finished in a single 6-hour long reading session. I could not 
                                    put the book down.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

            <!-- Writers and Lovers -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/writers-&-lovers.png')}}"
                        alt="Writers and lovers">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#writersAndLovers">
                    Dec '20 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="writersAndLovers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/writers-&-lovers.png')}}"
                                alt="Writers and lovers">
                                <span>Dec '20 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">Writers and Lovers</h3>
                                <h5 class="fw-bold">Lily King</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>Writers & Lovers is a book about passion, desire, grief, determination, and finding one's way. 
                                    It's also about craving love, family, and success. And it's about learning to stop worrying so 
                                    much about how men "are perceiving you, at the great expense of what you yourself are feeling 
                                    about them."
                                </p><br>
                                 <p><a href="https://www.amazon.com/Writers-Lovers-Lily-King/dp/0802148549/ref=tmm_pap_swatch_0?_
                                    encoding=UTF8&qid=1623210336&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>A Boston-area waitress manages debt, grief, medical troubles, and romantic complications as she 
                                    finishes her novel. “There are so many things I can’t think about in order to write in the 
                                    morning,” Casey explains at the opening of King’s (Euphoria, 2014, etc.) latest. The top three 
                                    are her mother’s recent death, her crushing student loans, and the married poet she recently had 
                                    a steaming-hot affair with at a writer’s colony. But having seen all but one of her writer friends 
                                    give up on the dream, 31-year-old Casey is determined to stick it out. After those morning hours 
                                    at her desk in her teensy garage apartment, she rides her banana bike to work at a restaurant in 
                                    Harvard Square—a setting the author evokes in delicious detail, recalling Stephanie Danler’s 
                                    Sweetbitter, though with a lighter touch. Casey has no sooner resolved to forget the infidel poet 
                                    than a few more writers show up on her romantic radar. She rejects a guy at a party who reveals he’s 
                                    only written 11 1/2 pages in three years—“That kind of thing is contagious”—to find herself torn 
                                    between a widowed novelist with two young sons and a guy with an irresistible broken tooth from the 
                                    novelist's workshop. Casey was one of the top two golfers in the country when she was 14, and the 
                                    mystery of why she gave up the sport altogether is entangled with the mystery of her estrangement 
                                    from her father, the latter theme familiar from King’s earlier work. In fact, with its young 
                                    protagonist, its love triangle, and its focus on literary ambition, this charmingly written 
                                    coming-of-age story would be an impressive debut novel. But after the originality and impact of 
                                    Euphoria, it might feel a bit slight.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

            <!-- If I aHad Your Face -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/if-I-had-your-face.png')}}"
                        alt="If I had your face">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#ifIHadYourFace">
                    Nov '20 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="ifIHadYourFace" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/if-I-had-your-face.png')}}"
                                alt="If I had your face">
                                <span>Nov '20 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">If I Had Your Face</h3>
                                <h5 class="fw-bold">Frances Cha</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>Cha's novel revolves around four young women who live in the same apartment building. There's Kyuri, 
                                    whose many surgeries have earned her a job at a room salon, a popular type of bar where men pay to 
                                    drink with beautiful women.
                                </p><br>
                                 <p><a href="https://www.amazon.com/If-Had-Your-Face-Novel/dp/0593129482/ref=sr_1_1?dchild=1&keywords=f+
                                    i+had+your+face&qid=1623211130&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>disturbing look at the unrealistic beauty standards placed on Korean women. Cha's timely debut deftly 
                                    explores the impact of impossible beauty standards and male-dominated family money on South Korean 
                                    women. Kyuri, Miho, Ara, and Sujin are two sets of working-class roommates who befriend each other, 
                                    and Wonna is a married woman who lives on a different floor of the same apartment complex in Seoul. 
                                    All are struggling financially. As Wonna laments, "Unless you are born into a chaebol family or your 
                                    parents were the fantastically lucky few who purchased land in Gangnam decades ago, you have to work 
                                    and work and work for a salary that isn't even enough to buy a house...." Because of Kyuri's successful 
                                    plastic surgeries, men hire her to be their companion at after-work "room salons," giving her an enviable 
                                    stock of designer purses and spending money. Sujin is saving up for surgery to attain the same face as 
                                    Kyuri, but Cha shows how all the women are impacted by these standards. Ara's work as a hairdresser makes 
                                    her literally invested in part of the beauty industry, and even though artist Miho hopes her talent will 
                                    allow her to rise on her own, she finds herself dependent on the whims of a wealthy boyfriend. At times, 
                                    the voices of the many characters can blur and the timeline can be confusing. Wonna is the least developed 
                                    character and interacts with the others only in a plot twist at the end of the book. However, taken together, 
                                    Cha's empathetic portraits allow readers to see the impact of economic inequity, entrenched classism, and 
                                    patriarchy on her hard-working characters' lives. Cha grew up in the United States, South Korea, and Hong 
                                    Kong and is a former Seoul-based culture and travel editor for CNN.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

            <!-- In Five Years -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/in-five-years.png')}}"
                        alt="In five years">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#inFiveYears">
                    Oct '20 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="inFiveYears" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/in-five-years.png')}}"
                                alt="In five years">
                                <span>Oct '20 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">In Five Years</h3>
                                <h5 class="fw-bold">Rebecca Serle</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>In Five Years is a striking, moving love story about Dannie Kohan, a high-powered corporate lawyer 
                                    who has everything planned out. The story opens on the day she interviews for her dream job, nails 
                                    it, and gets engaged to her longtime boyfriend—all according to her five-year plan.
                                </p><br>
                                 <p><a href="https://www.amazon.com/Five-Years-Novel-Rebecca-Serle/dp/1982137444/ref=tmm_hrd_swatch_0?_
                                    encoding=UTF8&qid=1623211037&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p> After acing a job interview and accepting a marriage proposal, Dannie Kohan has had the perfect day. 
                                    That is, until she awakens to find herself five years in the future with a completely different man.
                                    Just one hour in that alternate reality shakes Dannie to her core. After all, highly ambitious Dannie 
                                    and her boyfriend, David, have plotted out their lives in minute detail, and the sexy man in her 
                                    dream—was it a dream?—is most certainly not in the script. Serle (The Dinner List, 2018) deftly spins 
                                    these magical threads into Dannie’s perfectly structured life, leaving not only Dannie, but also the 
                                    reader wondering whether Dannie time traveled or hallucinated. Her best friend, Bella, would delight 
                                    in the story given that she thinks Dannie is much too straight-laced, and some spicy dreaming might 
                                    push Dannie to find someone more passionate than David. Unfortunately, glamorous Bella is in Europe 
                                    with her latest lover. Ever pragmatic, Dannie consults her therapist, who almost concurs that it was 
                                    likely a dream, and throws herself into her work. Pleased to have landed the job at a prestigious 
                                    law firm, Dannie easily loses her worries in litigation. Soon four and a half years have passed with 
                                    no wedding date set, and Bella is back in the U.S. with a new man in her life. A man who turns out to 
                                    be literally the man of Dannie’s dream. The sheer fact of Aaron Gregory’s existence forces Dannie to 
                                    reevaluate her trust in the laws of physics as well as her decision to marry David, a decision that 
                                    seems less believable with each passing day. And as the architecture of Dannie’s overplanned life 
                                    disintegrates, Serle twists and twines the remnants of her dream into a surprising future.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>

            <!-- Regretting you -->
            <div class="col-md-3 col-sm-4 col-6">   
                <div class="category-tile">
                        <img src="{{url_for('static', filename='images/club-picks/regretting-you.png')}}"
                        alt="Regretting you">
            <!-- Modal button -->
                 <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal" data-bs-target="#regrettingYou">
                    Sep '20 pick
                 </button>
                </div>
            </div>

            <!-- Modal -->
                <div class="modal fade" id="regrettingYou" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body about-book">
                        <div class="row">
                            <div class="col-md-4 book-tile">
                                <img src="{{url_for('static', filename='images/club-picks/regretting-you.png')}}"
                                alt="Regretting you">
                                <span>Sep '20 pick</span>
                            </div>
                            <div class="col-md-8">
                                <h3 class="fw-bold">Regretting you</h3>
                                <h5 class="fw-bold">Colleen Hoover</h5><br>
                                <h5 class="fw-bold">Synopsis</h5>
                                <p>When tragedy strikes, a mother and daughter forge a new life. Morgan felt obligated to marry her 
                                    high school sweetheart, Chris, when she got pregnant with their daughter, Clara. But she secretly 
                                    got along much better with Chris' thoughtful best friend, Jonah, who was dating her sister, Jenny.
                                </p><br>
                                 <p><a href="https://www.amazon.com/Regretting-You-Colleen-Hoover/dp/1542016428/ref=sr_1_1?dchild=
                                    1&keywords=regretting+you&qid=1623211371&sr=8-1" 
                                    target="_blank" id="signup">Available on Amazon</a></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="fw-bold">The Bookshelf review</h4><br>
                                <p>When tragedy strikes, a mother and daughter forge a new life. Morgan felt obligated to marry her 
                                    high school sweetheart, Chris, when she got pregnant with their daughter, Clara. But she secretly 
                                    got along much better with Chris’ thoughtful best friend, Jonah, who was dating her sister, Jenny. 
                                    Now her life as a stay-at-home parent has left her feeling empty but not ungrateful for what she 
                                    has. Jonah and Jenny eventually broke up, but years later they had a one-night stand and Jenny got 
                                    pregnant with their son, Elijah. Now Jonah is back in town, engaged to Jenny, and working at the 
                                    local high school as Clara’s teacher. Clara dreams of being an actress and has a crush on Miller, 
                                    who plans to go to film school, but her father doesn't approve. It doesn’t help that Miller already 
                                    has a jealous girlfriend who stalks him via text from college. But Clara and Morgan’s home life 
                                    changes radically when Chris and Jenny are killed in an accident, revealing long-buried secrets and 
                                    forcing Morgan to reevaluate the life she chose when early motherhood forced her hand. Feeling 
                                    betrayed by the adults in her life, Clara marches forward, acting both responsible and rebellious as 
                                    she navigates her teenage years without her father and her aunt, while Jonah and Morgan's relationship 
                                    evolves in the wake of the accident. Front-loaded with drama, the story leaves plenty of room for the 
                                    mother and daughter to unpack their feelings and decide what’s next.
                                </p>
                            </div>
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    </div>
                    </div>
                </div>
                </div>



        
            <div class="col-md-3 col-sm-4 col-6">
                <div class="category-tile">
                    <img src="{{url_for('static', filename='images/club-picks/regretting-you.png')}}"
                    alt="Regretting you">
                    <span>Sep '20 pick</span>
                </div>  
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <div class="category-tile">
                    <img src="{{url_for('static', filename='images/club-picks/stamped.png')}}"
                    alt="Stamped">
                    <span>Aug '20 pick</span>
                </div>  
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <div class="category-tile">
                    <img src="{{url_for('static', filename='images/club-picks/the-book-of-longings.png')}}"
                    alt="The book of longings">
                    <span>Jul '20 pick</span>
                </div>  
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <div class="category-tile">
                    <img src="{{url_for('static', filename='images/club-picks/the-book-of-lost-friends.png')}}"
                    alt="The book of lost friends">
                    <span>Jun '20 pick</span>
                </div>  
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <div class="category-tile">
                    <img src="{{url_for('static', filename='images/club-picks/transcendent-kingdom.png')}}"
                    alt="Transcendent Kingdom">
                    <span>May '20 pick</span>
                </div>  
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <div class="category-tile">
                    <img src="{{url_for('static', filename='images/club-picks/you-should-see-me-in-a-crown.png')}}"
                    alt="You should see me in a crown">
                    <span>Apr '20 pick</span>
                </div>  
            </div>
        </section>
    </div>

    {% endblock %}

