{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row about-us">
        <div class="col-md-7 about">
            <h2>Only The Best<br>Bookclub Ever!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-5 founder">
            <img src="{{url_for('static', filename='images/founder.png')}}" alt="Picture of the founder">
        </div>
    </div>
    <div class="row why-us">
        <div class="col-md-12">
            <h3>Why The Bookshelf?</h3>
            <img src="{{url_for('static', filename='images/why-the-bookshelf.png')}}" alt="Why The Bookshelf description ">
        </div>
    </div>
    <div class="row donate-books-container">
        <div class="col-md-12 donate-books">
            <h3>Donate books</h3>
        </div>
        <div class="col-md-4 donate-books">
            <h5>Who?</h5>
            <h6>Better World Books</h6>
            <p>Better World Books is a certified B-Corporation and a for-profit global e-retailer that collects and sells 
                new and used books online matching each purchase with a book donation, Book-for-Book™. Each sale generates 
                funds for literacy and education initiatives in the UK, US, and around the world. Since its launch in 2003, 
                Better World Books has raised more than $27 million for libraries and literacy, donated over 26 million books, 
                and reused or recycled over 300 million books. To learn more how Better World Books Cares, visit 
                <a href="https://www.betterworldbooks.com" target="_blank">Cares.BetterWorldBooks.com. </a>
            </p><br>
            <p><i>“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”
                - Dr. Seuss</i>
            </p>
        </div>
        <div class="col-md-4 donate-books">
            <h5>Why?</h5>
            <h6>Better World Book Grant</h6>
             <p>Our Annual Literacy Grants fund literacy and educational nonprofits and libraries for specific projects 
                 — the front lines of the fight to reduce global poverty through education. 
            </p>
            <h6>Book for Book</h6>
             <p>It’s simple: Every time you purchase a book from BetterWorldBooks.com, we donate a book to someone in need. 
                 The books we donate go through hundreds of non-profit organizations.
            </p>
            <h6>Reducing Landfill</h6>
             <p>Better World Books brings new life to used books ensuring each book continues to make an impact. As part of 
                 our commitment to environmental sustainability, we never, ever throw away a book. Any book we cannot find a 
                 proper home for is recycled.
            </p>
        </div>
        <div class="col-md-4 donate-books">
            <h5>How?</h5>
            <h6>Individuals</h6>
             <p>Find one of our handy book drop boxes at a location near you nd donate your books today.    
                <a href="https://services.betterworldbooks.com/individuals/" target="_blank">
                services.betterworldbooks.com/individuals</a>
            </p>
             <h6>Libraries</h6>
             <p>Better World Books will ship, process, and sell your discards and donations, then donate or recycle what’s left 
                 for free. We serve thousands of academic, public and special libraries located in Canada, France, Ireland, the 
                 Netherlands, the United Kingdom and the United States.
            </p>
             <h6>Drop Box</h6>
             <p>No books to donate, but want to help out? We are looking to place Drop Boxes at nationally recognized big box 
                 retailers, grocery-anchored shopping malls, and public libraries. Visit 
                 <a href="https://services.betterworldbooks.com/dropbox/" target="_blank">services.betterworldbooks.com/dropbox</a>
                 for more information. 
            </p>
            </p>
        </div>
    </div>
</div>

{% endblock %}