<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Bookshelf</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}"> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><h1>The Bookshelf</h1></a>
                    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <div class="close-icon py-1">✖</div>
                    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Who we are</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="club-picks.html">Club picks</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="your-picks.html">Your picks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Log in</a>
                     </li>
                 </ul>
            </div>
            </div>
        </nav>
    </header>

<section>
    <div class="container">
        <div class="row about-us">
            <div class="col-md-7 about">
                <h2>Only The Best Bookclub Ever!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                       et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                       aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                       dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                       deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-5 founder">
                <img src="assets/images/founder.png" alt="Picture of the founder">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="home-tile">
                    <img src="assets/images/club-picks/a-long-petal-of-the-sea.png" alt="A long petal of the sea">
                    <span>May '21 pick</span>
                     <img src="assets/images/club-picks/beach-read.png" alt="Beach read">
                    <span>Apr '21 pick</span>
                    <img src="assets/images/club-picks/clap-when-you-land.png" alt="Clap when you land">
                    <span>Mar '21 pick</span>
            </div>
        </div>
    </div>
</section>

<section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div id="subscribe" class= "col-md-6">
                <p>Not a Bookshelf member? <u>Sign up here</u></p>
            </div>
            <div id="social-media" class="col-sm-6" >
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>  
                <a href="#" class="fa fa-twitter"></a> 
            </div>
        </div>
    </div>
</footer>   
</section>

<script src="js/jquery-2.1.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>  
<link rel="stylesheet" href="{url_for('static', filename='js/script.js') }}">
</body>
</html>