  
{% extends "base.html" %}
{% block content %}

<div class="container row">

<!-- Book -->
      <div class="book-heading row">
            <div class="col s12 l5">
                <img src="{{ your_picks.img_url }}" alt="{{ your_picks.book_name }}'s cover">
            </div>
            <div class="book-summary col s12 l7">
                <div>
                    <h1>{{ your_picks.book_name }}</h1> 
                    <h3>{{ your_picks.book_author }}</h3>
                </div>
                <div>
                    <p>{{ your_picks.book_review }}</p>
                </div>
            </div>
        </div>

{% endblock %}