{% extends "base.html" %}
{% block content %}

<div id="your-picks">
    <h2 id="your-picks-title" class="text-center">{{ username }}'s picks</h2>
</div>

<section class="row">
    {% for your_picks in your_picks %}
    <div class="col-lg-3 col-md-4 col-6">
        <div class="category-tile">
            <a href="{{ url_for('your_picks', username=your_picks._id) }}"></a><img src="{{ your_picks.img_url }}"
                alt="{{ your_picks.book_name }}"></a>
            <!-- Modal button -->
            <button type="button" class="modal-btn btn btn-info" data-bs-toggle="modal"
                data-bs-target="#book-{{ your_picks._id }}">
                {{ your_picks.created_by }}'s pick
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="book-{{ your_picks._id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body about-book">
                    <div class="row">
                        <div class="col-md-4 book-tile">
                            <img src="{{ your_picks.img_url }}" alt="{{ your_picks.book_name }}">
                            <span>{{ your_picks.created_by }}'s pick</span>
                        </div>
                        <div class="col-md-8">
                            <h3 class="fw-bold">{{ your_picks.book_name }}</h3>
                            <h5 class="fw-bold">{{ your_picks.author_name }}</h5><br>
                            <h5 class="fw-bold">Synopsis</h5>
                            <p>{{ your_picks.synopsis }}</p>
                            <p><a href="{{ your_picks.buy_url }}" target="_blank" id="amazon">Available on Amazon</a>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="fw-bold">{{ your_picks.created_by }}'s review</h4><br>
                            <p>{{ your_picks.your_review }}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Done</button>
                    {% if session.user|lower == your_picks.created_by|lower %}
                    <a class="btn btn-warning" href="{{ url_for('edit_book', your_picks_id=your_picks._id) }}"
                        role="button">Edit</a>
                    <!-- Modal button for Delete Book modal -->
                    <button class="btn btn-danger" data-bs-target="#modal-delete{{ your_picks._id }}"
                        data-bs-toggle="modal" data-bs-dismiss="modal">Delete</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Close Modal -->

    <!-- Modal for Delete Book -->
    <div class="modal fade" id="modal-delete{{ your_picks._id }}" tabindex="-1" aria-labelledby="modal-delete-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-delete-label">Delete Book</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this book?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-block mybtn btn-secondary "
                        href="{{ url_for('your_picks', username=session['user']) }}" role="button">Cancel</a>
                    <a class="btn btn-block mybtn btn-danger"
                        href="{{ url_for('delete_book', your_picks_id=your_picks._id) }}" role="button">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Close Modal -->
    {% endfor %}
</section>

{% endblock %}